<div *ngIf="path == 'addHero'; else notAdd">
  <app-hero-form (saveHeroEvent)="saveHero($event)"></app-hero-form>
</div>


<ng-template #notAdd >
  <div *ngIf="hero && path == 'editHero/:id'; else view">
    <div class="mat-title">{{hero.name | uppercase}}</div>

    <mat-list>
      <mat-list-item>id: {{hero?.id}}</mat-list-item>
    </mat-list>

    <app-hero-form [hero]="hero" (saveHeroEvent)="saveHero($event)"></app-hero-form>
  </div>


  <ng-template #view>
    <div class="mat-title">{{'TITLE.INFO' | translate}} {{hero?.name | uppercase}}</div>

    <mat-list>
      <mat-list-item>id: {{hero?.id}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{'LABEL.NAME' | translate}} {{hero?.name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{'LABEL.RACE' | translate}} {{getHeroRace(hero?.race)}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{'LABEL.CLASS' | translate}} {{getHeroClass(hero?.heroClass)}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{'LABEL.LEVEL' | translate}} {{hero?.level}}</mat-list-item>
    </mat-list>

    <button mat-flat-button (click)="goBack()">{{'BUTTON.BACK' | translate}}</button>
  </ng-template>
</ng-template>


