.mat-title {
  margin: 0;
}

.mat-flat-button {
  margin: 12px 4px 4px 0;
  color: white;
  background-color: #444444;
}

.mat-flat-button:hover {
  color: black;
  background-color: gray;
}

.mat-list {
  max-width: 15rem;
}
