<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field  appearance="fill" >
      <mat-label>{{'LABEL.ADD_NAME' | translate}}</mat-label>
      <input matInput placeholder="{{'LABEL.ADD_NAME_PLACEHOLDER' | translate}}" formControlName="name" value="{{hero?.name}}"/>
      <mat-error *ngIf="heroForm.controls['name'].hasError('required')">
        {{'ERROR.NAME_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'LABEL.ADD_RACE' | translate}}</mat-label>
      <mat-select formControlName="race" value="{{hero?.race}}">
        <mat-option [value]=0>{{'HERO_RACE.HUMAN' | translate}}</mat-option>
        <mat-option [value]=1>{{'HERO_RACE.CREATURE' | translate}}</mat-option>
        <mat-option [value]=2>{{'HERO_RACE.HOMUNCUL' | translate}}</mat-option>
      </mat-select>
      <mat-error *ngIf="heroForm.controls['race'].hasError('required')">
        {{'ERROR.RACE_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'LABEL.ADD_CLASS' | translate}}</mat-label>
      <mat-select formControlName="heroClass" value="{{hero?.heroClass}}">
        <mat-option [value]=0>{{'HERO_CLASS.WARRIOR' | translate}}</mat-option>
        <mat-option [value]=1>{{'HERO_CLASS.MAGE' | translate}}</mat-option>
        <mat-option [value]=2>{{'HERO_CLASS.CLOWN' | translate}}</mat-option>
      </mat-select>
      <mat-error *ngIf="heroForm.controls['heroClass'].hasError('required')">
        {{'ERROR.CLASS_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{'LABEL.ADD_LEVEL' | translate}}</mat-label>
      <input matInput placeholder="42" formControlName="level" value="{{hero?.level}}"/>
      <mat-error *ngIf="heroForm.controls['level'].hasError('required')">
        {{'ERROR.LEVEL_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="heroForm.controls['level'].hasError('pattern')">
        {{'ERROR.LEVEL_NUMBER' | translate}}
      </mat-error>
      <mat-error *ngIf="
        heroForm.controls['level'].hasError('min') || heroForm.controls['level'].hasError('max')">
        {{'ERROR.LEVEL_INTERVAL' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <button mat-flat-button (click)="goBack()">{{'BUTTON.BACK' | translate}}</button>
    <button mat-flat-button type="submit" [disabled]="!isFormValid()">{{'BUTTON.SAVE' | translate}}</button>
  </div>
</form>
