.mat-headline {
  margin-bottom: 0;
  color: rebeccapurple;
}

.mat-flat-button {
  margin: 4px 4px 4px 0;
  color: white;
  background-color: #444444;
}

.mat-flat-button:hover {
  color: black;
  background-color: gray;
}

@media (max-width: 350px) {
  nav {
    display: grid;
  }
}
