.mat-title {
  text-align: center;
  color: #444;
}

.heroes-menu {
  margin: 0 auto 20px;
  max-width: 1000px;
  display: flex;
}

.mat-flat-button {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.5rem;
  color: white;
  background-color: #444444;
}

.mat-flat-button:hover {
  color: black;
  background-color: gray;
}

@media (max-width: 600px) {
  .heroes-menu {
    display: grid;
  }

  .mat-flat-button {
    margin: 0.5rem 0;
  }
}
