.mat-title {
  color: #444;
}

.mat-subheading-2 {
  color: rebeccapurple;
}

.mat-flat-button {
  color: white;
  background-color: #444444;
  margin: 0 4px 0 0;
  width: 10em;
}

.mat-flat-button:hover {
  color: black;
  background-color: gray;
}

.mat-icon-button {
  color: black;
}

.mat-icon-button:hover {
  background-color: lightgray;
}

@media (max-width: 600px) {
  .mat-list-base .mat-list-item {
    display: grid;
  }
}
