<div class="mat-subheading-2" *ngIf="numberMessage">{{numberMessage}}</div>
<div class="mat-title">My Heroes</div>

<mat-list>
  <mat-list-item *ngFor="let hero of heroes">

    <a mat-flat-button routerLink="/detail/{{hero.id}}" matBadge="{{hero.id}}" matBadgePosition="before">
      {{hero.name}}
    </a>
    <a mat-icon-button routerLink="/editHero/{{hero.id}}">
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-icon-button (click)="delete(hero)">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-list-item>
</mat-list>

<br>
<div class="mat-subheading-1" *ngIf="lastEditedMessage">{{lastEditedMessage}}</div>
